#getr{height:90%;width:100%;resize: none;background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(209,244,208,1) 100%);} 
#putr{height:100%;width:100%;resize: none;} 
#op{
	display:none;
}